{% extends "base.html" %}
{% block title %}
  Dashboard
{% endblock %}

{% block content %}
    {% comment %} Dashboard grid status  {% endcomment %}
<section class="lg:container mx-auto py-8 px-12 pt-28 bg-gray-100">
    <div class="bg-gray-200 rounded-md shadow-lg p-6">
        <h3 class="text-3xl text-gray-800 font-bold ">Dashboard</h3>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 mt-4">
            <div class= " transition duration-150 p-6 rounded-md bg-gray-800 text-white hover:bg-gray-900 shadow-xl">
                <h3 class="font-bold text-xl md:text-2xl mb-2">Total Participants</h3>
                <h3 class="font-semibold text-3xl md:text-4xl">{{total_participants}}</h3>
            </div>
            <a href="{% url 'dashboard' %}?type=total_events">
                <div class= "max-w-[330px] transition duration-150 p-6 rounded-md bg-gray-800 hover:bg-gray-900 text-white shadow-xl">
                    <h3 class="font-bold text-xl md:text-2xl mb-2">Total Events</h3>
                    <h3 class="font-semibold text-3xl md:text-4xl">{{total_events}}</h3>
                </div>
            </a>
            <a href="{% url 'dashboard' %}?type=upcoming_events">
                <div class= "max-w-[330px] transition duration-150 p-6 rounded-md bg-gray-800 text-white  hover:bg-gray-950 shadow-xl">
                    <h3 class="font-bold text-xl md:text-2xl mb-2">Upcomming Events</h3>
                    <h3 class="font-semibold text-3xl md:text-4xl">{{upcoming_events}}</h3>
                </div>
            </a>
            <a href="{% url 'dashboard' %}?type=past_events">
                <div class= "max-w-[330px] transition duration-150 p-6 rounded-md bg-gray-800 text-white  hover:bg-gray-900 shadow-xl">
                    <h3 class="font-bold text-xl md:text-2xl mb-2">Past Events</h3>
                    <h3 class="font-semibold text-3xl md:text-4xl">{{past_events}}</h3>
                </div>
            </a>
        </div>
    </div>
</section>


<section>
    <div class="bg-slate-100 border p-6 relative rounded-xl mt-2">

        {% comment %} title {% endcomment %}
            <div class="container mx-auto h-[10vh] flex items-center">
                <h2 class="text-2xl  font-semibold text-white cursor-pointer 
                mx-auto mb-4 px-6  py-2  rounded-lg bg-gray-800 transition-colors duration-100">
                
                
                {% if type == 'total_events' %}
                    Total Events
                {% elif type == 'upcoming_events' %}
                    Upcoming Events
                {% elif type == 'past_events' %}
                    Past Events
                {% else %}
                    Today's Events
                {% endif %}
        
                </h2>
            </div>
            
        {% comment %} title end {% endcomment %}
        
                
                {% comment %} event card start {% endcomment %}
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 2xl:grid-cols-4 gap-6 z-10">
            {% for event in events %}
            <div class="p-5 rounded-lg bg-gray-700 shadow-lg hover:shadow-md  hover:shadow-blue-400   hover:bg-gray-700 
                    border border-gray-700 hover:text-gray-900
                transform group-hover:scale-105 transition duration-500">
                    <img
                    alt="Random event image"
                    class="w-full h-48 rounded-lg mb-4 object-cover"
                    height="400"
                    src="https://storage.googleapis.com/a1aa/image/TF7EN2O9N_lxRwTv2twIeFSUTMEQex1N4zUOLaZj3Rk.jpg"
                    width="600"
                    />
                    <div class="mb-4">
                        <h3 class="text-xl font-bold text-white">{{ event|truncatechars:25| capfirst  }}</h3>
                    </div>
                    <p class="text-gray-400 mb-2">
                        <i class="far fa-calendar-alt mr-2 text-rose-400"> </i>
                        {{event.date}} at {{event.time}}
                    </p>
                    <p class="text-gray-400 mb-2">
                        <i class="fas fa-map-marker-alt mr-2 text-rose-400"> </i>
                        {{event.location | capfirst}}
                    </p>
                    <p class="text-gray-400 mb-2">
                        <i class="fas fa-tag mr-2 text-rose-400"> </i>
                        Category: {{event.category.name | capfirst}}
                    </p>
                    <p class="text-gray-400 mb-2">
                        <i class="fas fa-users mr-2 text-rose-400"> </i>
                        Participants: {{event.participants.count}}
                    </p>
                <div class="flex justify-between items-center mt-6">
                    <a
                        class="text-white bg-rose-600 hover:bg-rose-700 px-4 py-2 rounded-lg transition-colors duration-300" 
                        href="{% url 'event_details' event.id %}">
                        View Details
                    </a>
                    <div class="flex space-x-2">
                        <a
                        class="text-green-400 hover:text-green-600 transition-colors duration-300" href="{% url 'event_update' event.id %}">
                        <i class="fas fa-edit text-xl"> </i>
                        </a>
                        <a
                        class="text-red-400 hover:text-red-600 transition-colors duration-300" href="{% url 'event_delete' event.id %}">
                        <i class="fas fa-trash-alt text-xl"> </i>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% comment %} event card end {% endcomment %}
        {% if not events %}
            <div class="grid min-h-full place-items-center rounded-xl mt-4 bg-white px-6 py-24 sm:py-32 lg:px-8 border-1 h-[91vh]">
            <div class="text-center">
                {% comment %} <p class="font-semibold text-indigo-600 text-8xl">ERROR 41</p> {% endcomment %}
                <h1 class="mt-4 text-5xl font-semibold tracking-tight text-balance text-gray-900 sm:text-7xl">Event not found</h1>
                <p class="mt-6 text-lg font-medium text-pretty text-gray-500 sm:text-xl/8">Sorry, we couldn't find any Event Please create One.</p>
                <div class="mt-10 flex items-center justify-center gap-x-6">
                <a href="{% url 'event_create' %}" class="rounded-md bg-indigo-600 px-3.5 py-2.5  font-semibold text-white shadow-xs hover:bg-indigo-500
                    focus-visible:outline-2 text-2xl focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Create Event</a>
                </div>
            </div>
            </div>
        {% endif %}
      
</section>
{% endblock content %}