{% extends "base.html" %}
{% block title %}
  Participant List
{% endblock %}
{% block content %}
{% comment %} Participants {% endcomment %}
<section class="lg:container mx-auto py-8 px-12 pt-28 bg-gray-200">
  <h3 class="text-center text-4xl font-bold py-4 text-gray-800">Participants</span></h3>
  {% if participants %}
    <div class="grid grid-cols-1 lg:grid-cols-4 md:grid-cols-2 gap-8 mt-4">
      {% for participant in participants %}
        <div class="bg-gray-100  px-8 py-8 rounded-lg shadow-2xl">
          <div class="flex flex-col gap-y-[5px]">
            <p><span class="text-md font-medium">ID:</span> {{ participant.id }}</p>
            <p><span class="text-md font-medium">Name:</span> <span class="text-xl font-semibold">{{ participant.name|capfirst }}</span></p>
            <p><span class="text-md font-medium">Email:</span> <a href="mailto:{{ participant.email }}" class="text-blue-600">{{ participant.email }}</a></p>
            <div>
              <span class="text-md font-medium">Events:</span> 
              <div class="flex flex-wrap gap-2">
                {% if participant.events.count > 0 %}
                  {% for event in participant.events.all %}
                    {% if forloop.first %}
                      <span class="inline-block bg-blue-100 dark:bg-rose-900 text-rose-800 dark:text-blue-200 px-2 py-1 rounded-full text-xs">{{ event.name|capfirst }}</span>
                    {% elif forloop.counter == 2 %}
                      <span class="inline-block bg-blue-100 dark:bg-rose-900 text-rose-800 dark:text-blue-200 px-2 py-1 rounded-full text-xs">+{{ participant.events.count|add:'-1' }} more</span>
                    {% endif %}
                  {% endfor %}
                {% else %}
                  <span class="text-gray-600 dark:text-gray-400">No more events found.</span>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="flex flex-col items-center text-center mt-4">
            <a href="{% url 'participant_update' participant.id %}" class="bg-gray-900 text-white mt-3 py-2 w-full rounded-md shadow-md text-lg font-semibold"><i class="fa-solid fa-pen-to-square text-white text-lg"></i> Edit</a>
            <a href="{% url 'participant_delete' participant.id %}" class="bg-red-600 text-white mt-3 py-2 w-full rounded-md shadow-md text-lg font-semibold"><i class="fa-solid fa-trash text-white text-lg"> </i> Delete</a>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <div class="text-center py-8">
      <p class="text-gray-600 dark:text-gray-400 text-lg">No participants found.</p>
    </div>
  {% endif %}
</section>
{% endblock content %}